In [1]:
x = int(input('Zadej celé číslo: '))

Zadej celé číslo: 5

In [2]:
if x % 2 == 0:
    print(x, 'je sudé')
else:
    print(x, 'je liché')

5 je liché

In [21]:
names_list = ['Jiří', 'Jan', 'Marie', 'Petr', 'Jana', 'Josef', 'Pavel', 'Martin', 'Jaroslav', 'Tomáš', 'Eva', 'Miroslav', 'Hana', 'Anna', 'Zdeněk', 'František', 'Václav', 'Michal', 'Lenka', 'Kateřina']

In [22]:
names_lower=[]
for name in names_list:
    nemes_lower.append(name.lower)

NameError: name 'nemes_lower' is not defined

In [6]:
x = input('Jak se jmenuješ:')

Jak se jmenuješ:'Terezie'

In [11]:
if x in names_list:
    print('wow, tvoje jméno je vážně oblíbené', x)
else:
    print('Ty máš ale zajímavé jméno!', x)

Ty máš ale zajímavé jméno! 'Terezie'

In [13]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [15]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
squares=[cislo**2 for cislo in range(10)]

In [17]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
squares=[]
for cislo in range(10):
    squares.append(cislo**2)

In [19]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
kamaradi=['Michal', 'David', 'Alex', 'Petr', 'Klára']

In [37]:
[print(x, 'je super') for x in kamaradi]

Michal je super
David je super
Alex je super
Petr je super
Klára je super

[None, None, None, None, None]

In [30]:
seq = 'ACTGCTCAAG'

In [38]:
len(seq)

10

In [39]:
[a for a in range(len(seq))]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
[a for a in range(len(seq)) if seq[a]=='A']

[0, 7, 8]

In [41]:
d = {'a':'alfa', 'b':'bravo', 'c':'charlie', 'd':'delta', 'e':'echo', 'f':'foxtrot', 'g':'golf', 'h':'hotel', 'i':'india', 'j':'juliett', 'k':'kilo', 'l':'lima', 'm':'mike', 'n':'november', 'o':'oscar', 'p':'papa', 'q':'quebec', 'r':'romeo', 's':'sierra', 't':'tango', 'u':'uniform', 'v':'victor', 'w':'whiskey', 'x':'x-ray', 'y':'yankee', 'z':'zulu'}

In [42]:
name = str(input('Jaké je vaše jméno:'))

Jaké je vaše jméno:Terezie

In [45]:
for i in name.lower():
    print(d[i])

tango
echo
romeo
echo
zulu
india
echo